html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #397011;
}

.menu button {
  display: block;
  margin: 10px 0px;
  padding: 5px 20px;
  border: 3px solid #222;
  border-radius: 5px;
  background-color: #666;
  font-size: 20pt;
}

.menu button:hover {
  background-color: #999;
}

.menu label {
  font-size: 20pt;
}

.menu input[type="range"] {
  width: 200px;
}

.menu input[type="text"] {
  font-size: 20pt;
  background-color: #ccc;
}

.menu a {
  text-decoration: none;
}

#pause-menu {
  background-color: #0008;
}

#game {
  position: relative;
}

#debug {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: #0007;
  color: #fff;
  border-radius: 10px;
}

#crosshair {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
}

#crosshair > :nth-child(1) {
  position: absolute;
  background-color: #8888;
  top: 17px;
  width: 40px;
  height: 6px;
}

#crosshair > :nth-child(2) {
  position: absolute;
  background-color: #8888;
  left: 17px;
  width: 6px;
  height: 40px;
}
