html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  image-rendering: pixelated;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #397011;
}

.menu button {
  display: block;
  height: 40px;
  aspect-ratio: 58 / 8;
  margin: 10px 0px;
  border: none;
  padding: 0px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADoAAAAICAIAAAAna3vZAAAAA3NCSVQICAjb4U/gAAAAOUlEQVQ4jWN8s7+RYegAFgYGhjf3zg60M4gCN178YRpoN5AGRp1LSzDqXFoCFgYGhhsv/gy0M4gFAH/hCk9WRJh0AAAAAElFTkSuQmCC");
  background-size: contain;
  font-size: 20pt;
}

.menu button:hover {
  filter: brightness(0.7);
}

.menu label {
  font-size: 20pt;
}

.menu input[type="range"] {
  width: 200px;
}

.menu input[type="text"] {
  font-size: 20pt;
  background-color: #ccc;
}

.menu a {
  text-decoration: none;
}

#pause-menu {
  background-color: #0008;
}

#game {
  position: relative;
}

#debug {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: #0007;
  color: #fff;
  border-radius: 10px;
}

#hotbar {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 20px;
}

#hotbar div {
  width: 60px;
  height: 60px;
  border: 4px solid #666;
  background-color: #0007;
}

#hotbar div.selected {
  border-color: #ddd;
}

#hotbar img {
  width: 48px;
  height: 48px;
  margin: 6px;
}

#crosshair {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
}

#crosshair > :nth-child(1) {
  position: absolute;
  background-color: #8888;
  top: 17px;
  width: 40px;
  height: 6px;
}

#crosshair > :nth-child(2) {
  position: absolute;
  background-color: #8888;
  left: 17px;
  width: 6px;
  height: 40px;
}
