:root {
  --button-img: url("");
  --inventory-img: url("");
  --inventory-search-img: url("");
  --inventory-slot-img: url("");
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  image-rendering: pixelated;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #397011;
}

.menu button {
  display: block;
  height: 40px;
  aspect-ratio: 58 / 8;
  margin: 10px 0px;
  border: none;
  padding: 0px;
  background-image: var(--button-img);
  background-size: contain;
  font-size: 20pt;
}

.menu button:hover {
  filter: brightness(0.7);
}

.menu label {
  font-size: 20pt;
}

.menu input[type="range"] {
  width: 200px;
}

.menu input:not([type]),
.menu input[type="text"] {
  font-size: 20pt;
  background-color: #ccc;
}

.menu a {
  text-decoration: none;
}

#inventory-buttons {
  display: flex;
  width: 372px;
  justify-content: space-between;
}

#inventory-buttons img {
  width: 24px;
  height: 36px;
}

#inventory-buttons img:hover {
  filter: brightness(0.7);
}

#inventory {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 6px;
  width: 354px;
  height: 348px;
  padding: 18px 12px 18px 18px;
  background-image: var(--inventory-img);
  background-repeat: no-repeat;
  background-size: contain;
}

#inventory-search {
  width: 402px;
  height: 390px;
  background-image: var(--inventory-search-img);
  background-repeat: no-repeat;
  background-size: contain;
}

#inventory-search-input {
  width: 294px;
  height: 30px;
  margin: 24px 0px 0px 72px;
  border: none;
  padding: 0px;
  background: none;
}

#inventory-search-input:focus {
  outline: none;
  border: none;
}

#inventory-search-results {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 6px;
  width: 366px;
  height: 234px;
  margin: 12px 0px 0px 18px;
  padding-right: 6px;
  background-image: var(--inventory-slot-img);
  background-size: 60px 60px;
  background-attachment: local;
  overflow-x: hidden;
  overflow-y: scroll;
}

#inventory-search-results::-webkit-scrollbar {
  width: 12px;
}

#inventory-search-results::-webkit-scrollbar-track {
  background: none;
}

#inventory-search-results::-webkit-scrollbar-thumb {
  background-color: #ecbf81;
}

#inventory-search-hotbar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 6px;
  width: 354px;
  height: 54px;
  margin: 18px 0px 0px 18px;
}

.inventory-slot-hotbar {
  margin-top: 54px;
}

.inventory-slot {
  width: 54px;
  height: 54px;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.inventory-slot img {
  position: relative;
  width: 48px;
  height: 48px;
  top: 3px;
  left: 3px;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

#pause-menu,
#inventory-menu {
  background-color: #0008;
}

#mouse-item {
  position: fixed;
  width: 54px;
  height: 54px;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

#load-list {
  max-height: 700px;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  background: rgba(0, 0, 0, 0.5);
}

#load-list p {
  color: white;
}

.load-menu-row {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.load-menu-row span {
  color: white;
  padding: 5px;
  font-size: 20pt;
}

.load-menu-buttons {
  display: flex;
  align-items: center;
}

.load-menu-buttons img {
  display: block;
  width: 36px;
  height: 24px;
  margin: 30px 10px;
}

.load-menu-buttons img:hover {
  filter: brightness(0.7);
}

#game {
  position: relative;
}

#debug {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: #0007;
  color: #fff;
  border-radius: 10px;
}

#hotbar {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 78px;
  bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#hotbar img {
  position: relative;
  width: 48px;
  height: 48px;
  margin-right: 12px;
  top: 15px;
  left: 9px;
}

#crosshair {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
}

#crosshair > :nth-child(1) {
  position: absolute;
  background-color: #8888;
  top: 17px;
  width: 40px;
  height: 6px;
}

#crosshair > :nth-child(2) {
  position: absolute;
  background-color: #8888;
  left: 17px;
  width: 6px;
  height: 40px;
}
