html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #397011;
}

#pause-menu {
  background-color: #0008;
}

#game {
  position: relative;
}

#debug {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: #0007;
  color: #fff;
  border-radius: 10px;
}

#crosshair {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
}

#crosshair > :nth-child(1) {
  position: absolute;
  background-color: #8888;
  top: 17px;
  width: 40px;
  height: 6px;
}

#crosshair > :nth-child(2) {
  position: absolute;
  background-color: #8888;
  left: 17px;
  width: 6px;
  height: 40px;
}
