:root {
  --button-img: url("");
  --inventory-img: url("");
  --inventory-search-img: url("");
  --inventory-slot-img: url("");
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  image-rendering: pixelated;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAH40lEQVR4AezbzW8cRRAF8N5xbCdrIhE+4gMgJLhx4oSE4MKFM4IT4sY/jhAXIEBEnF1/YQ/9G+8zrVWC4p0TqFFe6tWrmqWnp6u7p3czfPvZwfjlx/sj+9UnN5aPf/PpcoT4X9c4zib/u88PR/j+i/sj4BAeG631aQEdWh/f1lpfXDu0idVmlo9rO8TXbpyVJ2com//uHTwoD/YXk7c+Hye7vL8/2fx1dLQsYoc17/RyLHt7++WDx6V89O6ivPNonIDT+DjLhw+PSwE6v7XyIFo4KxdcC8lh07Zd2z8M9SbyIW4q3M3h49Ulc9s5k7P5Swddl6GcnI7l8qpMwGmwvlhMWmJ8cRBvbXKiicuPzvLFQZyd2/7henODP/y8Kr+djOWnP67L+28fFje+Pru5+TePFuX31Vh+eboubz284fpgtVqXP1dX5exyMeH52ViAtqqc5ScenxbOJk4H2qteP7f9g6f+2oHbKeW9N4bp5nmG+VXtHPa8DneajlhflKkMdNbzyp+uFuXZaSlPno0FX18MBfgsrY3zo+PQxsXgVa+f2/4hN7I8XBQfpkeHvXsTNye4eTeqA/Bl7SwdxTcfqEN1ygKuTtUsHisG/MRxmjwW8MRxOawY8BPH57Z/OH79YHqibgiGZk7gP7j/T9xoOKq+HJ2gVNabOlePkFpVozgLYm0uTbzV5ERLnAWxNpcmd277p1VAXXua6zqkjYCTWtuevhvl6whx80D8jBa1qm7VMQup4ZaLJzd6q+F0uMv12jan/cOyLnVmfD1pLnCTPhRWZxfT5Les5eGJ00ySPz45Ryeo1dSx2sVBXbM0OQGfDtFw+W2MT6clj+XTgT+3/YOZ3YecnF6WX+sq4EkbCe6O5at7PpuOUHs6I3WpTtVmfFyN0mnAp4fzw+W1MVycLgf49HD+3PYPZnYf4kYf1yXODdKMBJob1xHsUa3/i+t701JoVNDUZuoRX2/mBJYOuJiaZfm4GJ/l44mxdMDFtnPEtHVO+6c5wIeY0Exy6t6NBToE1yFKAlcyrGvUrNpWw6B+o9GBJkZn47M0OXRoNTrQxOSy8VntmNP+aR/gpk1umdjcrOHuKVv6zA3+R4FyEXeNmlSLkLpNfdKAn9i2P/d6bZ7T/uFh3d+7ER+0rquAuj5+tMy9FqMiS6FcN38brESNqkV1GR6fBvy2dmnJjW01+fyA/7LrtWlO+wfb2Xof0zZYzRvylkGdYWjpmNO6GshRa6yn738spi4hNYoDP2j9cLaF3G2fBnQWwlmY2/7BLs9TN9zdvBsMDC3cKLDW4jpF5/x1Ufe/VVCTLdQp0FhoOR9oL4IYiLHQcj7Q4K7t327/tAq4eQFPtN5T3cuX4imf1XcAE545gW4uwFk+qGlQ46DeITw1TsMBd00L+SAG4fLl0XDAaaDdc9o/rQJuZNf3afWpVtUy4LRwlg/qGJLTWnkQLZx1LbgWksNqO+za/n4eYAbVg/08oPaCSdDmptJp+evnAfXsz0bITKtTcJOjjuJbNtWhOmUBV6dqFo8VA37iOE0eC3jiuBxWDPiJ495JtM9EaBI3ooc7nGcM3gLdiBuCoZ8HXBYboX4eUIeDlx/r/rKfB9TeqH/a+ld7dpCpS3WqNuPjapROAz49nB8ur43h4nQ5wKeH823Pl/VQxzvKLucZ007Qh5gH+nlAnfW3J8HM+EpBSdSBUPY2E6Ul0758Vb8DsC8H7+jR6EATo7PxWZocOrQaHWhictn4rPbYDmuLd5a7tr+fB3ittXZaQ73lqet+HlCPxXWGoaVjTvt5wGI6CE296Zz/ynmANpsbXnaeMa0C1vk8bRe4QUtePw+o66sOCfrvA9ITG2sD4mw+Z3XO6HAarDffEdCBLw7irRWHaOLyaQFfHMTZdtkzX22aVvY2S7Wv+Wm29mwL7e+/D9BrOeOz6bGh0Esmjn4eUHeGzgC8b+sU3OSoo/i2z/bl7X4dt1+3T8dj5QE/cZwmjwU8cVwOKwb8xHHvJNpnIvcw7WmGfh7g8dwgX+rwjOqj+v3mUOcHD9Fon06FrZGe5rp+M6QH+3mA7qrw8uMlyPDSY1WafkTVfx9Qe0LteW9IXapTtRkfV6N0GvDp4fxweW0MF6fLAT49nO9Vfln3K/084Hwsu5xnTHOAbbAJwSRhgqgP+PZPhr5SUBIC2WS4xjv6qp8HjNPvBPN9Xvvdne/v+Ilt+77ro0Fy5PMDfmK01rf0eWgmb5z1sCzX5i5Ld/Y5Hh4oF3G5/fcBc79fzz7dvjyc5QetH862kLvt04DOQjgLc9v/v/t9gCEeKA3c3Gavg5vv7HdyntHPA/QK7Pr9urXYumy9BpwWzvLBGg7Jaa08iBbOuhZcC8lhtR12bX//fYClQA/23wfUXrDpsbmptP8+wKbCMZKNhPdtnYLbQOgovjdIdahOWcDVqZrFY8WAnzhOk8cCnjguhxUDfuK4dxLts+nRZiN66OcBHs8N+nnA1c2/ezJabZGNEF1zO1q8Snq58UsRe2ZJEsDLD9/wyrD3CtzPA2rvqD2dkbpUp2ozPq5G6TTg08P54fLaGC5OlwN8eji/nwccLaZ/zmeI9/OAeoo91APPOkBv/6R0lbKSFlDyrCW//z6g/z5gtTYa+r8XaJe6qUfqX6mnf3uf9pudFs4IgcZCy/lAexHEQIyFlvOBBnaBVqNd2/83AAAA//8kMqYyAAAABklEQVQDAOhNTI6LJ7IEAAAAAElFTkSuQmCC");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.menu button {
  display: block;
  height: 40px;
  aspect-ratio: 58 / 8;
  margin: 10px 0px;
  border: none;
  padding: 0px;
  background-image: var(--button-img);
  background-size: contain;
  font-size: 20pt;
}

.menu button:hover {
  filter: brightness(0.7);
}

.menu label {
  font-size: 20pt;
}

.menu input[type="range"] {
  width: 200px;
}

.menu input:not([type]),
.menu input[type="text"] {
  font-size: 20pt;
  background-color: #ccc;
}

.menu a {
  text-decoration: none;
}

#inventory-buttons {
  display: flex;
  width: 372px;
  justify-content: space-between;
}

#inventory-buttons img {
  width: 24px;
  height: 36px;
}

#inventory-buttons img:hover {
  filter: brightness(0.7);
}

#inventory {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 6px;
  width: 354px;
  height: 348px;
  padding: 18px 12px 18px 18px;
  background-image: var(--inventory-img);
  background-repeat: no-repeat;
  background-size: contain;
}

#inventory-search {
  width: 402px;
  height: 390px;
  background-image: var(--inventory-search-img);
  background-repeat: no-repeat;
  background-size: contain;
}

#inventory-search-input {
  width: 294px;
  height: 30px;
  margin: 24px 0px 0px 72px;
  border: none;
  padding: 0px;
  background: none;
}

#inventory-search-input:focus {
  outline: none;
  border: none;
}

#inventory-search-results {
  display: grid;
  align-content: start;
  grid-template-columns: repeat(6, 1fr);
  gap: 6px;
  width: 366px;
  height: 234px;
  margin: 12px 0px 0px 18px;
  padding-right: 6px;
  background-image: var(--inventory-slot-img);
  background-size: 60px 60px;
  background-attachment: local;
  overflow-x: hidden;
  overflow-y: scroll;
}

#inventory-search-results::-webkit-scrollbar {
  width: 12px;
}

#inventory-search-results::-webkit-scrollbar-track {
  background: none;
}

#inventory-search-results::-webkit-scrollbar-thumb {
  background-color: #ecbf81;
}

#inventory-search-hotbar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 6px;
  width: 354px;
  height: 54px;
  margin: 18px 0px 0px 18px;
}

.inventory-slot-hotbar {
  margin-top: 54px;
}

.inventory-slot {
  width: 54px;
  height: 54px;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.inventory-slot img {
  position: relative;
  width: 48px;
  height: 48px;
  top: 3px;
  left: 3px;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

#pause-menu,
#inventory-menu {
  background-color: #0008;
}

#mouse-item {
  position: fixed;
  width: 54px;
  height: 54px;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

#load-list {
  max-height: 700px;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  background: rgba(0, 0, 0, 0.5);
}

#load-list p {
  color: white;
}

.load-menu-row {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.load-menu-row span {
  color: white;
  padding: 5px;
  font-size: 20pt;
}

.load-menu-buttons {
  display: flex;
  align-items: center;
}

.load-menu-buttons img {
  display: block;
  width: 36px;
  height: 24px;
  margin: 30px 10px;
}

.load-menu-buttons img:hover {
  filter: brightness(0.7);
}

#game {
  position: relative;
}

#debug {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: #0007;
  color: #fff;
  border-radius: 10px;
}

#hotbar {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 78px;
  bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#hotbar img {
  position: relative;
  width: 48px;
  height: 48px;
  margin-right: 12px;
  top: 15px;
  left: 9px;
}

#crosshair {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
}

#crosshair > :nth-child(1) {
  position: absolute;
  background-color: #8888;
  top: 17px;
  width: 40px;
  height: 6px;
}

#crosshair > :nth-child(2) {
  position: absolute;
  background-color: #8888;
  left: 17px;
  width: 6px;
  height: 40px;
}
